.footer{
  background-color: $custom-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  &__link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  & a{
    padding-left: 2%;
    & i{
      padding-right: 2%;
    }
  }
}