.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  @media(min-width:$tablets){
    flex-direction: row;
    justify-content: space-between;
  }
  &__location{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #F2F2F2;
    width: 100%;
    @media(min-width:$tablets){
      width: auto;
    }
    & i{
      padding: 5px;
    }
    & div{
      padding: 5px;
    }
  }
  & p{
    text-align: center;
  }
  &__subtitle{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}