body{
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1{
  font-family: $font-title;
}
