body{
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1{
  font-family: $font-title;
}
h2{
  margin-right: 2%;
  margin-left: 2%;
  font-size: 28px;
}
.sizing{
  font-size: 20px;
  font-weight: bolder;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}