body{
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
h1{
  font-family: $font-title;
}
h2{
  margin-right: 2%;
  margin-left: 2%;
  font-size: 28px;
}
.sizing{
  font-size: 20px;
  font-weight: bolder;
}
