@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$custom-color: #282626;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$list1: $primary-color 0%,$primary-color 33%,$primary-color 33%,$secondary-color 66%, $secondary-color 66%, $secondary-color 100%;